.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-1%);
}
.carousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 2px 2px 10px black;
}
.texto{
	font-size: 250%;
	margin-top: 3% !important;
	text-shadow: 2px 2px 10px black;
}